html,
body {
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
  background: radial-gradient(circle at center, rgb(48, 48, 48), black);
  color: white;
  font-family:Robot;
}

@font-face {
  font-family: Robot;
  src: url(RobotoSlab-ExtraLight.ttf);
}

@font-face {
  font-family: Aquafont;
  src: url(../aqua.ttf);
}

@font-face {
  font-family: Lora;
  src: url(Lora-VariableFont_wght.ttf);
}

header {
    width: inherit;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
}

header h3,h4 {
  padding: 20px;
  padding-bottom:10px;
}
header div {
  display: flex;
}

header img{
    height: 60px;
    padding: 15px;
}

#project{
    font-family: Aquafont; 
    padding-bottom:10px;
}

#project:hover{
    background-color: white;
    color:black;
    border-radius: 50px;
}

#index{
    margin-right: -150px;
}

#about{
    font-family: Aquafont; 
    padding-bottom:10px;
}

#about:hover{
    background-color: white;
    color:black;
    border-radius: 50px;
}

#home {
  box-shadow:inset 0 5px 20px rgba(0, 0, 0, 0.714);
  background-color: rgba(151, 151, 151, 0.247);
  border-radius: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero{
    width:100%;
    height: auto;
    /* background-image: url(pic/heroBG.png); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* .hero p{
    margin: 0px;
} */

#heroBG{
    position: absolute;
    top: 100px;
    width: 100%; 
    opacity: 0.3; 
    z-index: 0;
}

.hero_button{
    display: flex;
}

.hi{
    font-size: 50px; 
    color: rgb(176, 184, 190);
    z-index: 3; 
    margin-top: 8%;
    margin-bottom: 0px;
}

#resume{
    width: 200px;
    margin: 40px;
    padding: 10px 30px 10px;
    text-align: center;
    background-image: linear-gradient(#5536C0, #F9426E);
    border-radius: 30px;
}

#projects{
    width: 200px;
    margin: 40px;
    padding: 8px 30px 10px;
    text-align: center;
    border: solid 2px white;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

#name{
    font-size: 100px; 
    color: rgb(255, 255, 255); 
    z-index: 3; 
    margin-top: -20px;
    margin-bottom: 0px;
}

#name span{
    display: inline-block;
    animation: 1s jump;
    animation-timing-function: ease-in-out;
    animation-delay: var(--delay);
    animation-iteration-count: 1;
}

.designer{
    font-size: 30px;
    color: rgb(255, 255, 255);
    z-index: 3; 
    margin-top: -10px;
}

@keyframes jump{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
        text-shadow: 0 0 10px #ff4394,0 0 20px #ff9500,0 0 30px #d400ff;
    }
}

#resume:hover{
    background-image: linear-gradient(to right,white, white );
    color:black;
  transform: scale(1.05);
  will-change: transform;
}

#projects:hover{
    background-image: linear-gradient(to right,white, white );
    color:black;
    transform: scale(1.05);
    will-change: transform;
  }



.me{
    width:100%;
    height: auto;
    margin-top: 10%;
    /* background-image: url(pic/heroBG.png); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.meTitle{
    font-size: 40px; 
    line-height: 45px;
}

.meContent{
    font-size: 20px; 
    color: rgb(176, 184, 190); 
    line-height: 25px; 
    margin-top: -25px;
}

#tags{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tag{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(54, 54, 54);
    border-radius: 100px;
}

.tag img{
    width: 35px;
    margin: 0px 10px 0px 0px;
}

.mepic{
    width: 50%;
}

#ProjectBoard{
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title h1{
    font-size: 50px;
}

.cut-off {
    margin-left: 40px;
    margin-right: 40px;
    height: 5px;
    width: 300px;
    background-color: gray;
    opacity: 0.5;
    border-radius: 30%;
}

.board{
    width: 100%;
    /* height: 100vh; */
    /* background-color: #5536C0; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* display: grid;
    grid-template-columns: 300px 1fr; */
}

.card{
    display: flex;
    margin: 2%;
    /* position:  absolute; */
    width: 35%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    background-color: #292929;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.714);
    border-radius: 20px;
}

.card:hover{
    transform: scale(1.05);
    will-change: transform;
    background-color: #3e3e3e;
  }

.card img{
    width: 90%;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.714);
}

.card p{
    margin: 0px;
    margin-top: 8px;
}

.card button{
    margin-top: 24px;
    font-size: 18px;
    padding: 5px 20px 5px;
    border: solid 2px white;
    background-color: #292929;
    color: white;
    border-radius: 20px;
    margin-bottom: 8%;
}

.content{
    width: 85%;
    text-align: left;
    margin-top: 30px;
    /* background-color: #d400ff; */
}

.skill-section{
    /* margin-top: 40px; */
    font-family: aquafont;
}
  
.skills{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
  
.skills img{
    height: 100px;
    border-radius: 20px;
    margin: 0px 10px;
}

footer{
  height: 70px;
  margin-top: 80px;
  padding: 20px;
  box-shadow: 3,3,;
  background-color: rgb(28, 28, 28);
  box-shadow: 0px -12px 30px 2px rgb(73, 73, 73);
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.footfont{
  /* font-family: ans-serif; */
  color: rgb(174, 174, 174);
}

.footfont p{
  margin: 0px;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
  
li{
    margin: 0px 20px;
    padding: 0;
    list-style: none;
}
  
li a {
    position: relative;
    display: block;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 28px;
}
  
li a:hover{
    color: #ffcbd7;
    text-shadow: 0 0 20px #FF84A1;
}

.navi{
    position: fixed;
    right: 0px;
    bottom: 20%;
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;

}


#top{
    display: none;
    margin-right: 10px;
    margin-top: 30px;
    padding: 3px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-radius: 30px;
    background-color: none;
}

#top:hover{
    transform: scale(1.1);
    will-change: transform;
}

.hover{
    color: #9682DC;
}

.hover:hover{
    transform: scale(1.1);
    will-change: transform;
    color: #FF84A1;
    text-shadow: 0 0 20px #ffffff;
}

.section{
    margin-top: 6%;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.card-new{
    width: 720px;
    height: 405px;
    position: relative;
}

.card-role img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-role{
    display: flex;
    justify-content: center;
    width: 720px;
    height: 405px;
    position: relative;
    z-index: 2;
    transform-origin: bottom;
    transition: 2s;
}

.card-bg{
    width: 720px;
    height: 405px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    transform-origin: bottom;
    transition: 2s;
}


.first{
    background: url(pic/Nature_phone_7-bg.png);
    background-size: cover;
    box-shadow: 0px 0px 30px 20px 0.05;
    z-index: 1;
}

.second{
    background: url(pic/divein-bg1.png);
    background-size: cover;
    box-shadow: 0px 0px 30px 20px 0.05;
    z-index: 1;
}

.third{
    background: url(pic/fruitech-bg.png);
    background-size: cover;
    box-shadow: 0px 0px 30px 20px 0.05;
    z-index: 1;
}

.fourth{
    background: url(pic/innolab-bg.png);
    background-size: cover;
    box-shadow: 0px 0px 30px 20px 0.05;
    z-index: 1;
}

.blur{
    position: absolute;
    width: 100%;
    height: 75vh;
    top: 0px;
    left: 0px;
    filter: blur(50px) grayscale(0.2);
    opacity: 0.4;
    z-index: 0;

}

.one{
    background: url(pic/Nature_phone_7-bg.png) no-repeat center;
    background-size: contain;
}

.two{
    background: url(pic/divein-bg1.png) no-repeat center;
    background-size: contain;
}
.three{
    background: url(pic/fruitech-bg.png) no-repeat center;
    background-size: contain;
}
.four{
    background: url(pic/innolab-bg.png) no-repeat center;
    background-size: contain;
}

.content{
    width: 680px;
    padding: 20px;
    font-family: "sofia-pro", sans-serif;
    position: absolute;
    bottom: 0px;
    z-index: 3;
    opacity: 0;
    transition: 2s;
}

.content h1{
    font-size: 50px;
    margin: 0px;
    text-shadow: #43167e 10px;
}

.content h3{
    margin:0px;
    font-size: 24px;
    font-weight: lighter;
    color: #c6c6c6;
}

.content p{
    margin:0px;
    font-size: 20px;
    font-weight: lighter;
}

.card-new:hover .card-bg{
    transform: perspective(1000px) rotateX(30deg) skewX(-20deg);
}

.card-new:hover .card-role{
    transform: scale(1.3);
}

.card-new:hover .content{
    opacity: 1;
    transform: translateY(120px);
}

.more{
    text-align: center; 
    font-size: 30px; 
    margin-top: 140px;
}

.contact{
    display: none;
}


@media screen and (max-width: 797px) {
    html,
    body {
    height: auto;
    max-width: 797;
    padding: 0px;
    margin: 0px;
    background: radial-gradient(circle at center, rgb(48, 48, 48), black);
    color: white;
    font-family:Robot;
    }
    #home{
        display: none;
    }
    header{
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #about{
        display: none;
    }
    #project{
        display: none;
    }
    #index{
        margin-right: 0px;
    }
    .hero{
        width: 100%;
        padding: 30px;
        margin-top: 10%;
    }

    .hi{
        width: inherit;
        text-align: center;
        font-size: 30px;
        margin-bottom: 10%;
    }
    #name{
        width: inherit;
        text-align: center;
        font-size: 40px;
        margin-bottom: 10%;
    }
    .designer{
        width: inherit;
        text-align: center;
        font-size: 20px;
        word-wrap:break-word; 
    }
    #heroBG{
        max-height:100%;
        width: inherit;
        height: 80%;
        object-fit: cover;
        object-position: -140px 0px;
    }
    .hero_button{
        width: inherit;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20%;
    }
    #resume,#projects{
        width: 140px;
        margin: 20px;
        padding: 10px 30px 10px;
        font-size: 14px;
    }

    .me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .meTitle{
        font-size: 24px;
        line-height: normal;
        width: 85%;
    }

    .meContent{
        width: 85%;
        font-size: 16px;
        margin-bottom: 5%;
    }

    #tags{
        width: 85%;
    }

    .tag{
        font-size: 14px;
        padding: 0px 15px 0px;

    }

    .tag img{
        width: 25px;
    }

    .tag p{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .mepic{
        position: relative;
        width: 80%;
    }
    .title h1{
        width: auto;
        font-size: 30px;
    }
    .cut-off{
        display: none;
    }

    .card-new{
        width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section{
        height: auto;

    }

    .card-role{
        width: 400px;
        height: auto;
    }
    .card-bg{
        display: none;
    }
    .blur{
        display: none;
    }
    .content{
        width: 70%;
        opacity: 1;
        position: relative;
        margin-top: 0px;
        
    }
    .content h1{
        font-size: 30px;
        text-align: center;
    }
    .content h3{
        font-size: 16px;
        text-align: center;
    }
    .content p{
        font-size: 16px;
        text-align:center;
    }

    .more{
        font-size: 20px;
        margin-top: 40px;
    }

    .skill-section{
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-section h2{
        font-size: 20px;
    }

    .skills{
        flex-wrap: wrap;
        width: 90%;
    }

    .skills img{
        height: 50px;
        border-radius: 20px;
        margin: 10px 10px;
    }
    .navi{
        display: none;
    }

    .footfont{
        display: none;
    }

    footer{
        width: inherit;
        display: flex;
        justify-content: center;
    }
    .logos li a{
        text-align: center;
    }

    .contact{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .contact h3{
        font-family: "sofia-pro", sans-serif;
        font-size: 24px;
    }

    .contact a{
        font-family: "sofia-pro", sans-serif;
        font-size: 16px;
        color: #9682DC;
    }

    .card-new{
        pointer-events: none;
    }
  }